<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="utf-8" />
    <title>Подтвердите email</title>
  </head>
  <body>
    <p>Здравствуйте, {{ user.username }}!</p>
    <p>Спасибо за регистрацию на сайте «{{ site_name }}».</p>
    <p>Чтобы подтвердить ваш email и получить доступ к аккаунту, перейдите по ссылке:</p>
    <p><a href="{{ confirmation_link }}">Подтвердить email</a></p>
    <p>Если ссылка не открывается, скопируйте и вставьте её в адресную строку:</p>
    <p>{{ confirmation_link }}</p>
    <p>Если вы не регистрировались на сайте, просто проигнорируйте это сообщение.</p>
    <p>С уважением,<br />Команда {{ site_name }}</p>
  </body>
</html>
